<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>404页面</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <base target="_self">
    <style>
        .jumbotron {
            opacity:0.9;
        }
    </style>
</head>
<body >
<div class="container">
    <div class="jumbotron">
        <h1>404</h1>
        <p>页面未能够找到!!!</p>
        <p>抱歉，页面好像去火星啦!</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">返回首页</a></p>
    </div>
</div>
<script color="255,0,255" pointColor="255,0,0" opacity='0.7' zIndex="-2" count="100"
        src="/js/canvas-nest.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>